@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  position: relative;
  height: 500px;
  width: 900px;
  max-width: 90%;
  border-radius: 15px;
  overflow: hidden;
}

.slider img {
  opacity: 0.3;
  width: 100%;
  height: auto;
  object-fit: cover;
  filter: grayscale(1);
  animation: animationImg 3s linear infinite;
}

.slider p {
  position: absolute;
  bottom: 1rem;
  left: 15%;
  font-family: "Roboto", sans-serif;
  font-size: 3vw;
  color: rgb(180, 45, 45);
  text-shadow: 0 0 3px black;
  letter-spacing: 3px;
  animation: animationText 3s linear infinite;
}

@keyframes animationText {
  0% {
    opacity: 0.5;
    transform: translate(-10%) scale(1);
  }

  80% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}

@keyframes animationImg {
  0% {
    opacity: 0.3;
    transform: scale(1) translate(0);
  }

  20% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(1.05) translate(-20px);
  }
}